<h1>Listing Articles</h1>
<%= link_to 'New Article', new_article_path %>
<%# path to create a new article%>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  <tr>

  <% @articles.each do |article| %>
    <tr> 
      <td><%=article.title%></td>
      <td><%=article.text%></td>
      <td><%=link_to 'Show', article_path(article)%></td>
      <td><%=link_to 'Edit', edit_article_path(article)%></td>
    </tr>
  <%end%>
</table>
<%#tr-tablerow td-table data th -tablehead link_to created a link called show, 
leading to article in question%>